body{
  width:100%
}
h1{
   text-align:center;
}
/* SIDEBAR STUFFS*/
.Sidebar{
 text-align:left;
 float: left;
 position: fixed;
 background-color: #333333;
 margin: 0px;
 width: 10em;
 height: 42em;
 padding: 5px;
 color: #80BD02;
}
.Sidebar ul{
  list-style-type:none;
}
.Sidebar li{
padding-top: 10px;
}
.Sidebar li:nth-child(1){
  font-size: 18px;
}
.Sidebar a{
  color: #80BD02;
}
.wrapperPaddingRight{
  padding-left: 11em;
}
