* {
  margin: 0;
  padding: 0;
}

.header{
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 40px;
}

.searchbox{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-color: #FFFFFF;
}

.search{
  width: 40%;
  border-radius: 15px 0px 0px 15px;
  padding-bottom: 3px;
  padding-top: 3px;
  outline: none;
  border-style: solid;
  border-color: #80BD02;
}

.submit{
    border-radius: 0px 15px 15px 0px;
    border-style: solid;
    border-color: #80BD02;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 85px;
    background-color: #80BD02;
    color: #FFFFFF;
}

input:hover.submit{
    background-color: #0A4E4B;
    border-color: #0A4E4B;
}

input.search {
    background-image:url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:left;
}
